In [1]:
from com_in_nitin_train.trainAPI import train
from com_in_nitin_predict.predictAPI import predict
import pandas as pd

In [3]:
train('Tim Tebow Will Attempt Another Comeback, This Time in Baseball - The New York Times')

TypeError: train() takes 0 positional arguments but 1 was given

In [8]:
predict("Clinton's Blitzkrieg Campaign: the Savage Politics of the Oligarchs")[0]

1

In [3]:
data=pd.read_csv("data/train/news.csv")

In [4]:
news=data['title'][50]

In [5]:
news

'American politics has reached peak polarization'

In [10]:
if predict(" Syria, Russia, Mosul: Your Friday Evening Briefing - The New York Times")[0]=='REAL':
    print("Good, This is a real news !")
else:
    print("ALERT: This is a fake news !")

ALERT: This is a fake news !

In [11]:
predict('Syria, Russia, Mosul: Your Friday Evening Briefing - The New York Times')

array(['FAKE'], dtype=object)

In [2]:
data=pd.read_csv("Anuj/kaggle_fake_train.csv")

In [14]:
data.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [17]:
data.isna().sum()

id        0
title     0
author    0
text      0
label     0
dtype: int64

In [16]:
data.dropna(inplace=True)

In [18]:
data.drop_duplicates(inplace=True)

In [19]:
data.reset_index(inplace=True)

In [3]:
import pickle

In [6]:
pickle.dump(data,open("data/clean/clean.csv","wb"))

In [7]:
data.to_csv("data/clean/clean.csv")

In [8]:
data=pd.read_csv("data/train/kaggle_fake_train.csv")

In [9]:
data.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [10]:
data=data.drop(['id','author','text'],axis=1)

In [11]:
data.head()

                                               title  label
0  House Dem Aide: We Didn’t Even See Comey’s Let...      1
1  FLYNN: Hillary Clinton, Big Woman on Campus - ...      0
2                  Why the Truth Might Get You Fired      1
3  15 Civilians Killed In Single US Airstrike Hav...      1
4  Iranian woman jailed for fictional unpublished...      1